body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 {
  /*字体*/
  font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
  }
  
a:link,a:visited{
  text-decoration:none;  /*超链接无下划线*/
}

.font2normal{
  font-weight:normal;
}

.nav {
  margin-top:20px;	
}

#search{
 margin-left:500px;
 margin-bottom:0px;
}

.tab-content{
 font-size:16px;
}

.unstyled li{
  line-height:200%;
}
